html {
    box-sizing: border-box;
}
body{
    margin: 0;
    background: whitesmoke;
}

h1{
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

/* Loader */

.loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.8);
}
.loader img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Image Container */
.image-container {
    margin: 10px 30%;
}

.image-container img {
    width: 100%;
}

/* Media Query */

@media screen and (max-width: 750px) {
    h1{
        font-size: 20px;
    }
    .image-container {
        margin: 10px;
    }
}